<a href="https://colab.research.google.com/github/AzadMehedi/Python/blob/main/Tuples_%2B_Sets_%2B_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuples

A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

- Ordered
- Unchangeble
- Allows duplicate

### Taslist

- Creating a Tuple
- Accessing items
- Editing items
- Adding items
- Deleting items
- Operations on Tuples
- Tuple Functions

In [ ]:
# empty tuple
t1 = ()
print(t1)
type(t1)

()

tuple

In [ ]:
# create a tuple with a single item
t2 = ('Beautiful')
print(t2)
print(type(t2))  # a single value tuple is not actually a tuple.

# we have to put a coma (,) to make a single value tuple
t2 = ('Beautiful',)
print(t2)
print(type(t2) )

Beautiful
<class 'str'>
('Beautiful',)
<class 'tuple'>

In [ ]:
# homogenious tuple - টাপলে সকল আইটেম একই ধরনের ডেইটা টাইপের হলে সেটা হোমোজিনিয়াস টাপল।
t3 = (1,2,3,4,5,6)
print(t3)
print(type(t3))

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [ ]:
# hetrogenious tuple - টাপলে বিভিন্ন ধরনের আইটেম থাকলে সেটা হেট্রোজিনিয়াস টাপল।
t4 = (1,2.5,True,[1,2,3,4,5])
print(t4)
print(type(t4))

(1, 2.5, True, [1, 2, 3, 4, 5])
<class 'tuple'>

In [ ]:
# 2d tuple - tuple in a tuple
t5 = (1,2,3,(4,5))
print(t5)
print(type(t5))

(1, 2, 3, (4, 5))
<class 'tuple'>

In [ ]:
# using type conversion - tuple কিওয়ার্ড ইউস করে।
t6 = tuple('Dhaka')
print(t6)
print(type(t6))

('D', 'h', 'a', 'k', 'a')
<class 'tuple'>

### Accessing Items

- Indexing
- Slicing

In [ ]:
t3 = (1,2,3,4,5,6)
print(t3)
print(t3[0]) # প্রথম ইনডেক্স দেখাবে : 1 (positive indexing)
print(t3[-1])  # শেষ ইনডেক্স দেখাবে : 6 (negative indexing)
print(t3[0:4]) # ১ম থেকে ৪র্থ ইন্ডেক্স দেখাবে ঃ (1, 2, 3, 4)
print(t3[0:4:2]) # ২ ব্যবধান করে ১ম থেকে ৪র্থ ইন্ডেক্স দেখাবে ঃ (1, 3)  - [শুরু ঃ শেষ ঃ ব্যবধান]
print(t3[::-1])  # শেষ ইন্ডেক্স থেকে ১ম ইনডেক্স উল্টো করে দেখাবেঃ (6, 5, 4, 3, 2, 1)
print(t3[-3:-1])  # উল্টো দিক হতে ৩ নাম্বার(৪) থেকে শেষ নাম্বার দেখাবেঃ (4, 5) - last item(-1)=6 excluded.
# নেগেটিভ ইন্ডেক্সিং(উল্টো দিক থেকে আইটেম দেখাতে) এর সময় বড় ইন্ডেক্স সবসময় বামে(অর্থৎ শুরুতে থাকবে)।
print(t3[-1:-4:-1]) # এখানে যেহেতু উল্টোদিক থেকে ব্যবধান ১ দেয়া আছে সেহেতু শেষ ইন্ডেক্স থেকে ৪ নাম্বার ইন্ডেক্স(এক্সক্লুড) অব্দি দেখাবেঃ (6, 5, 4)

(1, 2, 3, 4, 5, 6)
1
6
(1, 2, 3, 4)
(1, 3)
(6, 5, 4, 3, 2, 1)
(4, 5)
(6, 5, 4)

In [ ]:
t5 = (1,2,3,(4,5))

# find (4,5)
print(t5[-1])  # এখানে শেষ আইটেমটি হচ্ছে (4,5)
print(t5[-1][0])  # 4 প্রিন্ট করবে। এখানে শেষ আইটেমটি হচ্ছে (4,5) এবং শেষ আইটেম এর প্রথম ইন্ডেক্স হচ্ছে 4
print(t5[-1][-1])  # 5 প্রিন্ট করবে। এখানে শেষ আইটেমটি হচ্ছে (4,5) এবং শেষ আইটেম এর শেষ ইন্ডেক্স হচ্ছে 5

(4, 5)
4
5

### Editing items

In [ ]:
t3 = (1,2,3,4,5,6)
t3[0] = 10  # # immutable/unchangable just like strings
print(t3)

TypeError: ignored

### Adding items

In [ ]:
print(t3)
# not possible

(1, 2, 3, 4, 5, 6)

### Deleting items

In [ ]:
t3 = (1,2,3,4,5,6)
print(t3)
# সিংগেল আইটেম রিমুভ করা সম্ভন না, সম্পূর্ণ টাপল ডিলেট করতে হবে।
del t3
print(t3)

(1, 2, 3, 4, 5, 6)

NameError: ignored

In [ ]:
t5 = (1,2,3,(4,5))
print(t5)
del t5[-1]  # ইরর দিবে

(1, 2, 3, (4, 5))

TypeError: ignored

### Operations on Tuples

In [ ]:
# + এবং *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

# +
print(t1+t2)
# *
print(t1*3)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [ ]:
# membership - অর্থৎ টাপলে একটি নির্দিস্ট আইটেম আছে কিনা।
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(5 in t1)
print(3 in t1)
print(7 in t2)
print(5 not in t2)
print(9 not in t1)

False
True
True
False
True

In [ ]:
# iteration
t1 = (1,2,3,4)
t2 = (5,6,7,8)

for i in t1+t2:
  print(i)

1
2
3
4
5
6
7
8

### Tuple Functions

In [ ]:
# len/sum/min/max/sorted/count/index

t1 = (1,2,3,4,5)
t2 = (9,8,7,6,5)

print(len(t1)) # 5
print(sum(t1)) # 15
print(min(t1)) # 1
print(max(t1)) # 5
print(sorted(t2)) # [5, 6, 7, 8, 9]
print(sorted(t1, reverse=True)) # [5, 4, 3, 2, 1]

t3 = (1,2,1,4,2,1)
print(t3.count(1)) # 3
print(t1.index(5)) # 4

5
15
1
5
[5, 6, 7, 8, 9]
[5, 4, 3, 2, 1]
3
4

### Difference between Lists and Tuples

- Syntax : <font color='yellow'>tuple() , list[]</font>
- Mutability : <font color='yellow'>[tuple-unchangeable | list-changeable]</font>
- Speed : <font color='yellow'>[tuple-faster than list > list-slower than tuple]</font>
- Memory : <font color='yellow'>[tuple-take less memory < list takes more memory]</font>
- Built in functionality : <font color='yellow'>[tuple-less < list-more]</font>
- Error prone <font color='yellow'>[tuple-less < list-more]</font>
- Usability

In [ ]:
# speed

import time
L = list(range(100000000))
T = tuple(range(100000000))

# list
start = time.time()
for i in L:
  i*5
print('List time: ', time.time()-start)

# tuple
start = time.time()
for i in T:
  i*5
print('Tiple time: ', time.time()-start)

List time:  12.864047527313232
Tiple time:  11.79737401008606

In [ ]:
# size

import sys
L = list(range(1000))
T = tuple(range(1000))

print('List size : ',sys.getsizeof(L))
print('Tuple size : ',sys.getsizeof(T))

List size :  8056
Tuple size :  8040

In [ ]:
# useabity

# list
a = [1,2,3]
b = a

a.append(4)  # a তে ভ্যালু এড করলেও b তে এড হয়ে যাবে কারন a and b উভয় একই মেমোরি এলোকেট হয়ে আছে
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
# tuple
a = (1,2,4,5)
b = a

a = a + (5,)  # টাপল এর ক্ষেত্রে
print(a)
print(b)

(1, 2, 4, 5, 5)
(1, 2, 4, 5)

In [ ]:
a = (1,2,3,4,5)
print('Before adding a new value: ',a)
print('Length before adding a new value: ',len(a))

# adding a new value
a = a+(10,)

print('After adding a new value: ',a)
print('Length after adding a new value: ',len(a))

Before adding a new value:  (1, 2, 3, 4, 5)
Length before adding a new value:  5
After adding a new value:  (1, 2, 3, 4, 5, 10)
Length after adding a new value:  6

In [ ]:
a = (1,2,3,4,5)
print('Before adding a new value: ',a)
print('Length before adding a new value: ',len(a))

# adding a new value
a = a+(10,20,30)

print('After adding a new value: ',a)
print('Length after adding a new value: ',len(a))

Before adding a new value:  (1, 2, 3, 4, 5)
Length before adding a new value:  5
After adding a new value:  (1, 2, 3, 4, 5, 10, 20, 30)
Length after adding a new value:  8

### Special Syntax

In [ ]:
# tuple unpacking
a, b, c = (1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a, b = (1,2,3)
print(a,b)   # should have same size

ValueError: ignored

In [ ]:
a, b, *others = (1,2,3,4,5)
print(a,b)
print(others)

1 2
[3, 4, 5]

In [ ]:
# zipping tuples

a = (1,2,3,4)
b = (5,6,7,8)
# zip(a,b)
print(list(zip(a,b)))
print(tuple(zip(a,b)))

[(1, 5), (2, 6), (3, 7), (4, 8)]
((1, 5), (2, 6), (3, 7), (4, 8))

In [ ]:
# a এবং b ভ্যালু সমান হতে হবে বিষয়টা এমন না।
a = (1,2,3,4,5,6)
b = (5,6,7,8)
# zip(a,b)
list(zip(a,b))

[(1, 5), (2, 6), (3, 7), (4, 8)]

# Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed).

However, a set itself is mutable. We can add or remove items from it.

Sets can also be used to perform mathematical set operations like union, intersection, symmetric difference, etc.

Characterstics:
- Unordered
- Mutable
- No Duplicates
- Can't contain mutable data types

### Creating sets

In [ ]:
# empty set
s = {} # its actually a dictionary by default.
print(type(s))  # it will show that is a dict : <class 'dict'>
s = set()
print(s)
print(type(s))

# 1D and 2D
s1 = {1,2,3,4,5}
print(s1)  # id set

<class 'dict'>
set()
<class 'set'>
{1, 2, 3, 4, 5}

In [ ]:
# 2d set is not possible. because set Can't contain mutable data types, although set itself a mutable data type.
s2 = {1,2,3,{4,5}}
print(s2)

TypeError: ignored

In [ ]:
# homogenious and hetrogenious
s3 = {1,'hello',4.5,(1,2,3)}
print(s3)
print(type(s3))

{1, 'hello', (1, 2, 3), 4.5}
<class 'set'>

In [ ]:
# using type conversion
s4 = set([1,2,3,4])
print(s4)
print(type(s4))

{1, 2, 3, 4}
<class 'set'>

In [ ]:
# duplicates not allowed
s5 = {1,1,2,2,3,3}
print(s5)

{1, 2, 3}

In [ ]:
# set can't have mutable items
s6 = {1,2,[3,4], {5,6}}
print(s6)

TypeError: ignored

In [ ]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)  # set is unordered. so if the sets are contain same items in different order & size are same then it will gives us True.

True

### Accessing Items
- indexing won't work.
- slicing wo'nt work.
  - <font color='yellow'>because set is unordered.</font>
  - <font color='yellow'>So set is Unaccessable.</font>

In [ ]:
s1 = {1,2,3,4}
s1[0]  # it'll give us an Error. indexing won't work.

TypeError: ignored

In [ ]:
s1 = {1,2,3,4}
s1[:3]   # slicing won't work.

TypeError: ignored

### Editing Items
- indexing is not possible in set. so Editing is not possible.

In [ ]:
s1 = {1,2,3,4}
s1[0] = 100   # won't work because indexing is not possible in set.

TypeError: ignored

### Adding Items
- hash will decide where to aadd.

In [ ]:
s = {1,2,3,4,5}
# add
s.add(5)  # add will add a single item.
print(s)  # hash will decide where to aadd.

{1, 2, 3, 4, 5}

In [ ]:
# update
s = {1,2,3,4,5}
s.update([5,6,7])   # update can add both single & multiple items.
print(s)

{1, 2, 3, 4, 5, 6, 7}

### Deleting Items
- del deletes the whole set.

In [ ]:
s = {1,2,3}
print(s)
# del
del(s)
print(s)

{1, 2, 3}

NameError: ignored

In [ ]:
# s= {1,2,3,4}
del s[1] # won't work because indexing is not possible

NameError: ignored

In [ ]:
# discard
s = {1,2,3,4,5}
s.discard(5)   # discard can remove/delete any single item from set.
print(s)

{1, 2, 3, 4}

In [ ]:
# যদি এমন আইটেম রিমুভ করতে চাই যেটা সেটে নেই, সেক্ষেত্রে কোনো ইরর দেখাবে না।
s = {1,2,3,4,5}
s.discard(10)
print(s)

{1, 2, 3, 4, 5}

In [ ]:
# remove
s = {1,2,3,4,5}
s.remove(5)  # SAME AS DISCARD
print(s)

{1, 2, 3, 4}

In [ ]:
# যদি এমন আইটেম রিমুভ করতে চাই যেটা সেটে নেই, সেক্ষেত্রে ইরর দেখাবে। এটাই discard এবং remove এর মধ্যে পার্থক্য
s = {1,2,3,4,5}
s.remove(10)
print(s)

KeyError: ignored

In [ ]:
# pop()
# pop randomly deletes items from set
s = {1,2,3,4,5,6,7,8,9}
s.pop()
print(s)

{2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# clear()
# clear() পুরো সেট কে রিমুভ/ডিলেট করে দিবে।
s = {1,2,3,4,5,6,7,8,9}
s.clear()
print(s)

set()

### Set Operation

In [ ]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# union (|)
print(s1 | s2)   # কমন আনকমন সব আইটেম দেখাবেঃ {1, 2, 3, 4, 5, 6, 7, 8}

# intersection (&)
print(s1 & s2)  # কমন আইটেম গুলো দেখাবে {4, 5}

# Difference (-)
print(s1 - s2)  # {1, 2, 3}
print(s2 - s1)  # {8, 6, 7}

# Symmetric Difference(^)
print(s1 ^ s2)  # কমন আইটেম বাদ হয়ে যাবেঃ  {1, 2, 3, 6, 7, 8}

# membership test
print(3 in s1) # True
print(6 in s1) # False
print(7 not in s1) # True
print(6 not in s2) # False

print('--------------')
# iteration
for i in s2:
  print(i)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}
True
False
True
False
--------------
4
5
6
7
8

In [ ]:
print(4 not in s2)

False

### Set Functions

In [ ]:
# len/sum/min/max/sorted
s = {3,1,4,5,2,7}
print(len(s))  # 6
print(sum(s)) # 22
print(min(s)) # 1
print(max(s)) # 7
print(sorted(s))  # [1, 2, 3, 4, 5, 7]
print(sorted(s, reverse=True)) # [7, 5, 4, 3, 2, 1]

6
22
1
7
[1, 2, 3, 4, 5, 7]
[7, 5, 4, 3, 2, 1]

In [ ]:
# union/update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# s1 | s2
print(s1.union(s1)) # সেম s1 | s2 এর মত কাজ করবে ঃ {1, 2, 3, 4, 5}

# update
s1.update(s2)  # s1 এবং s2 এর ইউনিয়ন হয়ে তা পারমানেন্টলি s1 এ স্টোর হয়ে যাবে
print(s1) # {1, 2, 3, 4, 5, 6, 7, 8}
print(s2) # {4, 5, 6, 7, 8}

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
# intersection/intersection_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

# intersection() method returns a new set, without the unwanted items.
s1.intersection(s2)  # সেম s1 & s2 এর মত কাজ করবে ঃ {4, 5}
 # intersection_update() method removes the unwanted items from the original set.
s1.intersection_update(s2)

print(s1) # {4, 5}
print(s2) # {4, 5, 6, 7, 8}

{4, 5}
{4, 5, 6, 7, 8}

In [ ]:
# difference/difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)
s1.difference_update(s2)

print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [ ]:
# symmetric_difference/symmetric_difference_update
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [ ]:
# isdisjoint/issubset/issuperset
s1 = {1,2,3,4}
s2 = {7,8,5,6}

print(s1.isdisjoint(s2))
print(s1.issubset(s2))
print(s1.issuperset(s2))

True
False
False

In [ ]:
# copy
s1 = {1,2,3}

s2 = s1.copy()

print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

### Frozenset
Frozen set is just an immutable version of a Python set object
- what works and what does not
- works -> all read functions
- does't work -> write operations

In [ ]:
# create frozenset
fs1 = frozenset([1,2,3])
fs2 = frozenset([4,5,6])

fs1 | fs2

frozenset({1, 2, 3, 4, 5, 6})

In [ ]:
# When to use
# 2D sets
fs = frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

### Set Comprehension

In [ ]:
{i for i in range(1,11)}

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
{i**2 for i in range(1,11)}

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [ ]:
{i**2 for i in range(1,21) if i%2==0}

{4, 16, 36, 64, 100, 144, 196, 256, 324, 400}

# Dictionary

Dictionary in Python is a collection of keys values, used to store data values like a map, which, unlike other data types which hold only a single value as an element.

In some languages it is known as map or assosiative arrays.

dict = { 'name' : 'nitish' , 'age' : 33 , 'gender' : 'male' }

Characterstics:

- Mutable/changeable
- Indexing has no meaning / won't work.
- keys can't be duplicated
- keys can't be mutable items/ keys are immutable

In [ ]:
# empty dictionary
d = {}
print(d, type(d))  # {} <class 'dict'>

# 1D dictianary
d1 = {'name':'Mehedi', 'sex':'Male'}  # homogenious dict. because of same data type.
print(d1)  # {'name': 'Mehedi', 'sex': 'Male'}

# with mixed keys
d2 = {(1,2,3):1, 'age':26}
print(d2)  # {(1, 2, 3): 1, 'age': 26}

# 2D dictionary -> JSON
s = {
    'name':'Mehedi',
    'institute':'JU',
    'semester':'1st',
    'subject':{'dsa':50, 'math':40, 'english':60}
}
print(s) # {'name': 'Mehedi', 'institute': 'JU', 'semester': '1st', 'subject': {'dsa': 50, 'math': 40, 'english': 60}}

# using sequence and dict function
d4 = dict([('name','Mehedi'),('age',26),(2,2)])
print(d4) # {'name': 'Mehedi', 'age': 26, 2: 2}

# duplicate keys
d5 = {'name':'Mehedi', 'name':'Rahul'}
print(d5) # {'name': 'Rahul'}. ডুপ্লিকেট সম্ভব না, সেট এর মতো। আপডেটেড বা শেষে যে ভ্যালু এড করা হয়েছে সেটা থাকবে।

# mutable items as keys
d6 = {'name':'Mehedi', (1,2,3):9} # key হিসেবে মিউটেবল টাইপ সম্ভব। ইমিউটেবল টাইপ যেমন লিস্ট সম্ভব না। সেক্ষেত্রে ইরর দিবে।
print(d6) # {'name': 'Mehedi', (1, 2, 3): 9}

{} <class 'dict'>
{'name': 'Mehedi', 'sex': 'Male'}
{(1, 2, 3): 1, 'age': 26}
{'name': 'Mehedi', 'institute': 'JU', 'semester': '1st', 'subject': {'dsa': 50, 'math': 40, 'english': 60}}
{'name': 'Mehedi', 'age': 26, 2: 2}
{'name': 'Rahul'}
{'name': 'Mehedi', (1, 2, 3): 9}

### Accessing items

In [ ]:
d = {'name':'Mehedi', 'age':26}

# আমরা key এক্সেস করে ভ্যালু পেতে পারি।

# using []
print(d['age']) # 26

# using get()
print(d.get('name'))  # Mehedi


s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
print(s['subjects']['english'])  # 34

26
Mehedi
34

### Adding key-value pair

In [ ]:
d4 = dict([('name','nitish'),('age',32),(3,3)])
print(d4)

print('----------------------------')

d4['width'] = 72
print(d4)

{'name': 'nitish', 'age': 32, 3: 3}
----------------------------
{'name': 'nitish', 'age': 32, 3: 3, 'width': 72}

In [ ]:
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}
print(s)
print('------------------------------------------------')

# updating value of 'english'
s['subjects']['english'] = 90
print(s)

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}
------------------------------------------------
{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 90}}

### Remove key-value pair

In [ ]:
# using pop() method
d = {
      'name': 'nitish',
      'age': 32,
      3: 3,
      'gender': 'male',
      'weight': 72
    }
print(d)
print('---------------------------------')

# remove key '3'
# pop()
d.pop(3)
print(d)

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
---------------------------------
{'name': 'nitish', 'age': 32, 'gender': 'male', 'weight': 72}

In [ ]:
# using popitem() method
d = {
      'name': 'nitish',
      'age': 32,
      3: 3,
      'gender': 'male',
      'weight': 72
    }
print(d)
print('---------------------------------')

d.popitem()  # it will remove last item
print(d)

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
---------------------------------
{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male'}

In [ ]:
# using del keyword
d = {
      'name': 'nitish',
      'age': 32,
      3: 3,
      'gender': 'male',
      'weight': 72
    }
print(d)
print('---------------------------------')

del d['name']
print(d)

{'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}
---------------------------------
{'age': 32, 3: 3, 'gender': 'male', 'weight': 72}

### Dictionary Operations

- Membership
- Iteration

In [ ]:
# membership
s = {
    'name':'nitish',
     'college':'bit',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}

print(s)
print('---------------------------------')

'name' in s

{'name': 'nitish', 'college': 'bit', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34}}
---------------------------------

True

In [ ]:
# iteration
d = {
      'name': 'nitish',
      'age': 32,
      'gender': 'male',
      'weight': 72
    }

for i in d:
  print(i, d[i])

name nitish
age 32
gender male
weight 72

### Dictionary Functions

In [ ]:
# len/sorted/max
d = {
      'name': 'nitish',
      'age': 32,
      'gender': 'male',
      'weight': 72
    }

print(len(d)) # 4
print(sorted(d))  # ['age', 'gender', 'name', 'weight']
print(sorted(d, reverse=True)) # ['weight', 'name', 'gender', 'age']
print(max(d))  # weight

4
['age', 'gender', 'name', 'weight']
['weight', 'name', 'gender', 'age']
weight

In [ ]:
# items/keys/values
d = {
      'name': 'nitish',
      'age': 32,
      'gender': 'male',
      'weight': 72
    }

print(d.items())  # dict_items([('name', 'nitish'), ('age', 32), ('gender', 'male'), ('weight', 72)])
print(d.keys())   # dict_keys(['name', 'age', 'gender', 'weight'])
print(d.values()) # dict_values(['nitish', 32, 'male', 72])

dict_items([('name', 'nitish'), ('age', 32), ('gender', 'male'), ('weight', 72)])
dict_keys(['name', 'age', 'gender', 'weight'])
dict_values(['nitish', 32, 'male', 72])

In [ ]:
# update
d1 = {1:2, 3:4, 4:5}
d2 = {4:7, 6:8,}

d1.update(d2) # একই রকম key(4) থাকায় শেষের key নিয়ে আপডেট হয়েছে। update পারমানেন্ট চ্যাঞ্জ করে।
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

### Dictionary Comprehension
![image.png]()

In [2]:
# creating dictinary, print 1st 10 numbers and their squares
{i:i**2 for i in range(1, 11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [8]:
# creating dictinary using existing dictionary
distance = {'dhaka': 1000, 'chittagong': 2000, 'shylhet': 3000}
print(distance)
# print(distance.items())
{key : values*0.5 for (key,values) in distance.items()}

{'dhaka': 1000, 'chittagong': 2000, 'shylhet': 3000}

{'dhaka': 500.0, 'chittagong': 1000.0, 'shylhet': 1500.0}

In [14]:
# creating distionary using zip
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [23]:
# creating dict using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}
# {i:j for (i,j) in products.items() if j>0}
{key:value for (key,value) in products.items() if value>0}

{'phone': 10, 'charger': 32}

In [25]:
# Nested Comprehension
# print tables of number from 2 to 4

{i: {j: i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}